.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none; /*background-color: transparent;*/}
.item:not(.prev) {visibility: visible;}
.item.right:not(.prev) {visibility: hidden;}
.rightest{ visibility: visible;}

#fotoGrande{
	/*border: 1px solid green;*/
	/*width: 500px;*/
	margin-top: 80px;
  background-size: cover;
}

#fotoMarco{
	/*border: 1px solid yellow;*/
	width: 700px; /*suma de width y el margin doble de la foto grande*/
	background-size: 95%; /*original 100%*/
	background-repeat:no-repeat;
          height: 466px;
  margin-left: 45%;
  margin-left: 34%;
}

.fotopequena, .fotoPmarco{
  cursor: pointer;
}

.miCarrusel{
	height: 150px;
}
.miCarrusel2{
  width: 63%;
  margin-left: 20%;
}
#myCarousel2{
	height: 700px;
    margin-top: 50px;
	margin-top: 184px;
}

/*vertical vertical*/

.vertical .carousel-inner {
  height: 100%;
}

.carousel.vertical .item {
  -webkit-transition: 0.6s ease-in-out top;
  -moz-transition: 0.6s ease-in-out top;
  -ms-transition: 0.6s ease-in-out top;
  -o-transition: 0.6s ease-in-out top;
  transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 400px;
}

.carousel.vertical .prev {
  top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -400px;
}

.carousel.vertical .active.right {
  top: 400px;
}

.carousel.vertical .item {
  left: 0;
}
/*fin carrousel vertical*/

/*Pagina inicial*/
.fondoIndex{ /*esto va en el html wt?!*/ 
  background: url('../recursos/fondo1.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn_empezar{
  position: absolute;
  margin-left: 62%; /*valores play*/
      margin-left: 63.2%;
  margin-top: 32%; /*valores play*/
  background-image: url('../recursos/boton1.png');
  height: 70px;
  width: 244px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;   
}
/*fin Pagina inicial*/

/*Pagina dos*/

.fondoDos{ /*esto va en el html wt?!*/ 
  background: url('../recursos/fondo2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-y: hidden;
}

.fondoCar1{
  background-image: url('../recursos/barraInferior.png');
  background-repeat: no-repeat;
  padding: 5%; /*tamaño fotos del carousel horizontal inferior 4%funcionaCata*/
      margin-top: 13%;
      margin-top: 5%;
}

.u_izq_h{
  padding-top: 5%;
  margin-left: -10%;
}
.u_dere_h{
  padding-top: 5%;
  margin-right: -10%;
}
.btn_enviar{
  position: absolute;
      margin-left: -34%;
    margin-top: 66%;
    background-image: url('../recursos/botonEnviar.png');
    background-size: contain;
    height: 100px;
    width: 100px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;   
  z-index: 1;
}
.modal-title{

}
.modal-content{
  background: #F1D220;
}
#qLoverlay{
  background-image: url(../recursos/fondocargando.jpg);
  /*background-position: 50% 50%;*/
  background-size: cover;
}
/*fin Pagina dos*/

/*Pagina tres*/

.fondoTres{ /*esto va en el html wt?!*/ 
  background: url('../recursos/fondo3.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*fin Pagina tres*/
.ui-keyboard{
  bottom: 0!important;
  left: 0;
  right: 0!important;
  top: 13.5%!important;
}
.ui-keyboard-button{
  background: #F1D220;
  color: #FF0000;
  font-weight: bold;
  font-size: 20px;
  height: 63px!important;
  min-width: 74px!important;
  border-radius: 5px;
}
.ui-keyboard-preview{
  width: 36%!important;
}
.ui-keyboard div{
  margin-bottom: 150px;
}

#myCarousel2 .carousel-control{
  top: 50%;
}
.framesLoad{
  margin-top: 5px ;
}
.jcarousel-wrapper{
  margin-top: 5px!important;
}

.fondoCar1 .jcarousel-control-prev, .fondoCar1 .jcarousel-control-next{
  background: none;
}
.fondoCar1 .jcarousel-control-prev {
    left: -55px;
}

.fondoCar1 .jcarousel-control-next {
    right: -46px;
}
.barravertical{
  background-image: url(../recursos/2-barra-derecha.png); 
  background-repeat: no-repeat;
  background-size: cover;
}
#loadingmessage img{
  width: 100%;
}

[data-name="accept"] {
    /* boton teclado */
    background-color: #00FF00;
    color: white;

}